<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class="px-5 py-5 text-xl border-b flex items-center justify-between">
        <a href="/" class="text-xl">SoPPers</a>
        <div class="">
            <a href="#" class="text-lg bg-teal-300 px-5 py-3 rounded-xl hover:bg-teal-500 text-white">Sing Up</a>
            <a href="#" class="text-lg bg-red-300 px-5 py-3 rounded-xl hover:bg-red-500 text-white">Sing In</a>
        </div>
    </nav>
    {% block content%}

    {% endblock %}
</body>
</html>