{% extends 'mainapp/base.html' %}
{% block content %}
<div class="mt-6 px-5 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">New products</h2>
    <div class="grid gird-cols-3 gap-3">
        {% for catagory in categories %}
        <div>
            <a href ="#"></a>
            <div>
                <img src=" {{ item.image.url }}" alt="">
                <div>
                    <h2 class=" text-2xl">{{catagory.name}} </h2> 
                    <p>{{catagory.items}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}